<h1>PureScript#show</h1>
<p>Find me in app/views/pure_script/show_flame.html.erb</p>


<!-- flame will show the output in this div -->
<div id="flame" style="border: solid blue 1px"></div>

<footer style="background: yellow">Footer</footer>

<%
js_filename = 'index_flame.js'
js_file = File.join(Rails.root, 'public', js_filename)
# prepare my own fingerprinting
js_mtime =File.mtime(js_file).to_i

flags = {
  'counter-start' => '12',
  'base-url' =>    request.base_url,
  'logname' =>     ENV['LOGNAME'],
  'home'  =>       ENV['HOME'],
  'show-hidden' => false
        }
%>

<%= javascript_include_tag "/#{js_filename}?#{js_mtime}", type: 'module', id: 'flame_flags', data: flags  %>
