<h1>PureScript#show</h1>
<p>Find me in app/views/pure_script/show.html.erb</p>

<p>
  We need to link the index.js file from the PureScript app to the public folder of the Rails app
</p>

<pre>
  cd ~/Programming/Rails/trying-elm-ui/public/
  rm ./index.js
  ln -s /home/jacek/Programming/Pyrulis/Purescript/halogen/counter/prod/index.js ./index.js
</pre>


<%
js_filename = 'index.js'
js_file = File.join(Rails.root, 'public', js_filename)
# prepare my own fingerprinting
js_mtime =File.mtime(js_file).to_i
%>

<script src=<%=  "/#{js_filename}?#{js_mtime}" %> type="module">
</script>
