<!--  file:~/Programming/Rails/trying-elm-ui/vendor/rescript/my-rectript-experiment/dist/index.html::1 -->
<!DOCTYPE html>
<!-- <html lang="en">

     <head>
     <meta charset="UTF-8" />
     <link rel="icon" type="image/svg+xml" href="/vite.svg" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>ReScript + Vite + React</title>
     <link href="/dist/styles.css" rel="stylesheet">
     <script type="module" crossorigin src="/assets/index-CGiRQrRV.js"></script>
     <link rel="stylesheet" crossorigin href="/assets/index-D0AoTKhA.css">
     </head>
-->
<h1>First Rescript</h1>

<div id="root" class="h-screen flex justify-center items-center"></div>

<script type="module" crossorigin src="/index-CGiRQrRV.js"></script>
