<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>

<div id="elm"></div>

<script src="ui-experiment.js"></script>"
<script>
 var app = Elm.UiExperiment.init({ node: document.getElementById('elm') })
 // you can use ports and stuff here
</script>
