<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>
<h1>Elm-UI links</h1>
<p style="background: yellow; padding:1em">
  <a href="https://korban.net/elm/elm-ui-patterns/" target="_blank">Elm-UI patterns </a>
</p>

<div id="elm"></div>
<%
js_filename = 'ui-experiment.js'
js_file = File.join(Rails.root, 'public', js_filename)
js_mtime =File.mtime(js_file).to_i

flag_data = { a: 1, be: "2", base_url: request.base_url }
%>
<script src="<%= "#{js_filename}?#{js_mtime}" %>"></script>
<script>
 var app = Elm.UiExperiment.init({ node: document.getElementById('elm'),
                                   flags: <%= raw JSON.generate flag_data %>
 })
 // you can use ports and stuff here
</script>
