<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>
<h1>Elm-UI links</h1>
<p style="background: yellow; padding:1em">
  <a href="https://korban.net/elm/elm-ui-patterns/" target="_blank">Elm-UI patterns </a>
</p>

<h1>Request headers</h1>
<pre style="background: lightblue; padding:1em">
  <% kx = request.env.keys %>
  <% kx.each do |k| %>
    <br>
    <%= "#{k}: #{request.env[k].inspect}" %>
  <% end %>


</pre>

<div id="elm"></div>
<%
js_filename = 'ui-experiment.js'
js_file = File.join(Rails.root, 'public', js_filename)
js_mtime =File.mtime(js_file).to_i

flag_data = {base_url: request.base_url,
             logname:  ENV['LOGNAME'],
             home:  ENV['HOME'],
             showHidden: false}
%>
<script src="<%= "#{js_filename}?#{js_mtime}" %>"></script>
<script>
 var app = Elm.UiExperiment.init({ node: document.getElementById('elm'),
                                   flags: <%= raw JSON.generate flag_data %>
 })
 // you can use ports and stuff here
</script>
