<h1>Giving up on Purescript</h1>

<p>
  I wasted the whole evening and I could not compile even a simple example.
  I can not copy and paste my own previous examples and meke them work. Example
  on the web that tries to solve the same problem does not compile either. I
  declare a type and wehen try to use it few lines firther down, I get the
  nonsense Undeclared sata constructor error. Googling makes my brain hurt. So
  far, Elm isa the best language in this domain.
</p>

<div id="halogen-cocktail">Please wait ...</div>

<%
js_filename = 'halogen-cocktail.js'
js_file = File.join(Rails.root, 'public', js_filename)
# prepare my own fingerprinting
js_mtime =File.mtime(js_file).to_i

html_attributes = {type: 'module', id: 'halogen-cocktail-flags'}
flag_data = {
  base_url: request.base_url,
  logname:  ENV['LOGNAME'],
  start: 7
}.each{ |k,v| html_attributes[:"data-#{k}"] = v }
%>

<%= javascript_include_tag "/#{js_filename}?#{js_mtime}", html_attributes %>
